{% extends 'drinks/base.html' %}
{% block title %}
<style type="text/css">
       @charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto);
#coco {
 position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}


.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container1 {
  position: relative;
  width: 700px;
  margin: 30px auto 0;
  height: 350px;
  background-color: #000;
  top: 50%;
  margin-top: -160px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .box007 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container1 .box007:before, .container1 .box007:after {
  content: " ";
  position: absolute;
  left: 152px;
  top: 50px;
  background-color: #9297e0;
  transform: rotateX(52deg) rotateY(15deg) rotateZ(-38deg);
  width: 300px;
  height: 285px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .box007:after {
  background-color: #a5aae4;
  top: -10px;
  left: 80px;
  width: 320px;
  height: 180px;
}
.container1 .container-forms {
  position: relative;
}
.container1 .btn007 {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  width: 100px;
  color: #fff;
  background-color: #000;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .btn007:hover {
  opacity: 0.7;
}
.container1 .btn007, .container1 input {
  padding: 10px 10px;
}
.container1 input {
    color: black;
  margin: 0 auto 15px;
  margin-top: 15px;
  display: block;
  width: 250px;
  height: 50px;
  border-radius: 3px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container1 .container-forms .container-info {
  text-align: left;
  font-size: 0;
}
.container1 .container-forms .container-info .info-item {
  text-align: center;
  font-size: 16px;
  width: 300px;
  height: 320px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.container1 .container-forms .container-info .info-item p {
  font-size: 20px;
  margin: 20px;
}
.container1 .container-forms .container-info .info-item .btn007 {
  background-color: #000;
  border: 1px solid #fff;
}
.container1 .container-forms .container-info .info-item .table-cell {
  padding-right: 35px;
}
.container1 .container-forms .container-info .info-item:nth-child(2) .table-cell {
  padding-left: 35px;
  padding-right: 0;
}
.container1 .container-form {
  overflow: hidden;
  position: absolute;
  left: 50px;
  top: -30px;
  width: 335px;
  height: 410px;
  background-color: #000;
  box007-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .container-form:before {
  content: "✔";
  position: absolute;
  left: 160px;
  top: -50px;
  color: #5356ad;
  font-size: 130px;
  opacity: 0;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .container-form .btn007 {
  position: relative;
  box007-shadow: 0 0 10px 1px #ff73b3;
  margin-top: 0px;
  margin-left: 100px;
}
.container1 .form-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.container1 .form-item.sign-up {
  position: absolute;
  left: -100%;
  opacity: 0;
}
.container1.log-in .box007:before {
  position: absolute;
  left: 180px;
  top: 62px;
  height: 265px;
}
.container1.log-in .box007:after {
  top: 22px;
  left: 192px;
  width: 324px;
  height: 220px;
}
.container1.log-in .container-form {
  left: 265px;
}
.container1.log-in .container-form .form-item.sign-up {
  left: 0;
  opacity: 1;
}
.container1.log-in .container-form .form-item.log-in {
  left: -100%;
  opacity: 0;
}
.container1.active {
  width: 260px;
  height: 140px;
  margin-top: -70px;
}
.container1.active .container-form {
  left: 30px;
  width: 200px;
  height: 200px;
}
.container1.active .container-form:before {
  content: "✔";
  position: absolute;
  left: 51px;
  top: 5px;
  color: #5356ad;
  font-size: 130px;
  opacity: 1;
}
.container1.active input, .container1.active .btn007, .container1.active .info-item {
  display: none;
  opacity: 0;
  padding: 0px;
  margin: 0 auto;
  height: 0;
}
.container1.active .form-item {
  height: 100%;
}
.container1.active .container-forms .container-info .info-item {
  height: 0%;
  opacity: 0;
}
 
 
 
   </style>
<div id="coco">
<div class="container1">
  <div class="box007"></div>
  <div class="container-forms">
    <div class="container-info">
      <div class="info-item">
        <div class="table">
          <div class="table-cell">
            <p>
              Have an account?
            </p>
            <div class="btn007" >
              Log in
            </div>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="table">
          <div class="table-cell">
            <p>
              Don't have an account? 
            </p>
            <div class="btn007">
              Sign up
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-form">
      <div class="form-item log-in">
        <div class="table">
          <div class="table-cell">
           <form action="{% url 'users:login' %}" method="post">
           	{% csrf_token %}
            {% for field in form %}
            	{{ field }}
            {% endfor %}
            <button type="submit" class="btn007">
              Log in
            </button>
           </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        document.getElementsByName('username')[0].placeholder='Username';
        document.getElementsByName('password')[0].placeholder='Password';
      </script>
      <div class="form-item sign-up">
        <div class="table">
          <div class="table-cell">
          <form action="{% url 'users:register' %}" method="post">
           	{% csrf_token %}
            {% for field in tmp %}
            	{{ field }}
            {% endfor %}
            <button type="submit" class="btn007">
              Sign Up
            </button>
           </form>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        document.getElementsByName('username')[1].placeholder='Username';
        document.getElementsByName('password')[1].placeholder='Password';

      </script>
    </div>
  </div>
</div>
</div>
<div class="nk-gap-5"></div>
<div class="nk-gap-5"></div>
<div class="nk-gap-5"></div>
<div class="nk-gap-5"></div>
<script type="text/javascript">
    $(".info-item .btn007").click(function(){
  $(".container1").toggleClass("log-in");
});
$(".container-form .btn007").click(function(){
  $(".container1").addClass("active");
});
</script>
{% endblock %}